<div class="page__footer-follow">
  <ul class="social-icons">
    <li><a href="https://inspirehep.net/authors/1812058?ui-citation-summary=true" target="_blank" rel="noopener noreferrer"><i class="ai ai-inspire ai-fw" aria-hidden="true"></i> INSPIRE--HEP</a></li>
    <li><a href="https://scholar.google.com/citations?user=TDT1fI0AAAAJ&hl=en" target="_blank" rel="noopener noreferrer"><i class="fas fa-graduation-cap" aria-hidden="true"></i> Google Scholar</a></li>
    <li><a href="https://orcid.org/0000-0001-7285-6295" target="_blank" rel="noopener noreferrer"><i class="ai ai-orcid-square ai-fw" aria-hidden="true"></i> ORCID</a></li>
  </ul>
</div>
