---
layout: archive
title: "Talks, seminars and presentations"
permalink: /talks/
author_profile: true
---

I have had the good fortune to visit many wonderful places around the world to present my work. Below is the complete record of the talks, seminars and presentations I have given.

The markers show where I have given talks; click on a marker for more details.

<br><br><iframe src="/talkmap/talks_map.html" height="320" width="100%" style="border: none"></iframe><br><br>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
