---
layout: archive
title: "Talks, seminars and presentations"
permalink: /talks/
author_profile: true
---

I have had the privilege of visiting many amazing places around the world to present my work. Below is the complete record of the talks, seminars and presentations I have given.

The markers show places where I have presented my work at conferences, workshops, seminars and local meetings. Click on a marker to see the talks associated with that location.

<br><br><iframe src="/talkmap/talks_map.html" height="320" width="100%" style="border: none"></iframe><br><br>

{% for post in site.talks reversed %}
  {% include archive-single-talk.html %}
{% endfor %}
