---
layout: default
---

{% include base_path %}

<div id="main" role="main">
  {% include sidebar.html %}

  <article class="page" itemscope itemtype="https://schema.org/Event">
    <div class="page__inner-wrap">
      <header>
        <h1 class="page__title" itemprop="name">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
        <p class="page__meta">
          <strong>{{ page.type }}</strong> · {{ page.venue }}{% if page.location %} · {{ page.location }}{% endif %}<br>
          <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
        </p>
        {% if page.video_url %}
        <p><a href="{{ page.video_url }}" target="_blank" rel="noopener noreferrer">[video]</a></p>
        {% endif %}
      </header>

      <section class="page__content" itemprop="description">
        {{ content }}
      </section>
    </div>
  </article>
</div>
